  h1 { 
    text-align: center;
}

  #nav {
    display:flex; 
    justify-content: center; 
    padding-inline-start: 0;
}

  #nav li{
    padding: 0 1em 0;
    font-weight: bold;
    font-size: 1.3em;
    list-style-type: none;
}

li {
  background-color: yellow;
  border-radius: 50%;
}
